@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root{
    --main-bg-color: rgb(29, 53, 87);
  --div-color: rgb(69, 123, 157);
  --header-color: rgb(168, 218, 220);
  --text-color: rgb(241, 250, 238);
  --warn-color: rgb(230, 57, 70);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Silkscreen', cursive;
  }

.card{
display: flex;
flex-direction: row;
height: 200px;
width: 120px;
border: 1px solid black;
border-radius: 5px;
justify-content: center;
align-items: center;
text-align: center;
  }
  .topcardclass{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .bottomcard{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    transform: rotate(180deg);
  }
  .numbercardcont{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
  .columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    margin: 5px;
    padding: 0px;
  }
  .bottomcard{
    display: flex;
    justify-content: flex-end;
  }